* {
    margin: 0;
    padding: 0;
    overflow: auto;
}

html, body {
    background-image: linear-gradient(rgba(3, 97, 184, 0.897), rgba(2, 149, 160, 0.863));
}

.norte {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sul {
    display: none;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(114, 113, 113, 0.527);
}

#myImg {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

#txt-1 {
    margin-top: 1%;
    font-size: 18pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sul p {
    margin: 1% 25% 1% 25%;
    height: 30%;
    overflow: auto;
    font-family: monospace;
    font-size: 12pt;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#img {
    margin-top: 3%;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
}

.pulse {
    animation: pulse 0.7s infinite;
    margin: 0 auto;
    display: table;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

#buttoes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.Button {
    background-color: rgb(52, 101, 180);
    border: none;
    margin-top: 1%;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    padding: 15px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: monospace;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

#port{
    background-color: chartreuse;
    margin-left: 2%;
}


.Button:hover{
    transform: scale(1.1);
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        -webkit-filter: brightness(100%);
        border: 1px solid black;
    }
    100% {
        -webkit-transform: scale(1.1);
        -webkit-filter: brightness(150%);
        border: 1px solid rgb(204, 201, 201);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        filter: brightness(100%);
        -webkit-filter: brightness(100%);
    }
    100% {
        transform: scale(1.1);
        filter: brightness(150%);
        border: 1px solid rgb(204, 201, 201);
    }
}

@keyframes explosion {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(100);
    }
}

@keyframes inplosion {
    from {
        transform: scale(20);
    }
    to {
        transform: scale(1);
    }
}

::-webkit-scrollbar {
    width: 0px;
}